/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Aplica el fondo de pantalla */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: black;
  font-family: Arial, sans-serif;

}


